<mat-toolbar id="toolbar">

    <mat-toolbar-row style="display:flex; flex-direction: row; justify-content: space-between;">
      
      
      <div style="width: 33%;">
        <h1>My portfolio</h1>
      </div>
      

      <div style="width: 33%; display: flex; justify-content: center;">
        <button mat-stroked-button (click)="changeLayout('projects')">Projects</button>
        <button mat-stroked-button (click)="changeLayout('info')">About me</button>
      </div>

      <div style="width: 33%;"></div>
      
    </mat-toolbar-row>

</mat-toolbar>

