<mat-card   id="project-card" [ngClass]="{'light' : getTheme() == 'light' }">
    <div matRipple style="cursor: pointer;" (click)="openProjectDialog()">
        <img src="../../assets/images/{{project.miniature}}" width="100%" height="100px" style="object-fit:cover; object-position: top;" id="project-miniature">

        <mat-card-header id="project-header">{{project.title}}</mat-card-header>
    
        <mat-card-content>{{project.description}}</mat-card-content>
    </div>

    

    <mat-chip-list>
        
        <mat-chip *ngFor="let item of project.technologies" (click)="addTag(item)">{{item}}</mat-chip>


    </mat-chip-list>



</mat-card>
