

<div style="display: flex; width: 100%; ">
    <h1 style="margin-left: 1em;">My Projects</h1>

    <form [formGroup]="form" style="width: 100%;" >
      <mat-form-field style="margin: 0; width: 100%;" appearance="fill" >
          <mat-label [ngClass]="{'light' : getTheme() == 'light'}">Searching</mat-label>
          <mat-chip-list id="searchChipList" style="padding: 0; justify-content: flex-start;" #chipList aria-label="search">
            <mat-chip *ngFor="let tag of searchTags" (removed)="remove(tag)"  #tag>
              {{tag.name}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
                  formControlName="inputValue"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (input)="loadDropDown()"
                  style="max-height: 50px;"
                  [ngClass]="{'light' : getTheme() == 'light'}">
          </mat-chip-list>
          <mat-card style="position: absolute; z-index: 9999; margin-top: 15px; " *ngIf="dropDownTags.length > 0" >
            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let tag of dropDownTags" [value]="tag" (click)="add(tag)">
                {{tag}}
              </mat-list-option>
            </mat-selection-list>
          </mat-card>

          
      </mat-form-field>
    </form>

      
</div>


<div style="width: 100%; display:flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">

    <app-project *ngFor="let item of projects" [project]="item">
    </app-project>

</div>