<mat-card id="about-me-card" style="display: flex; flex-direction: column;" [ngClass]="{ 'light' : getTheme() == 'light' }">

    <div id="about-me-header" style="display: flex; flex-direction: column; width: 100%;">

        <img src="../../assets/images/miniature-juanjo-jaramillo-mZnx9429i94-unsplash.jpg" style="height: 100px; width: 100%;object-fit: cover; border-top-left-radius: 4px; border-top-right-radius: 4px" [ngClass]="{'dark' : getTheme() == 'light'}" width="627" height="418">

        <div matRipple id="profile-pic-container">
          <img id="profile-pic" src="https://media.licdn.com/dms/image/D4D03AQHmHN9sQXgheQ/profile-displayphoto-shrink_800_800/0/1678862164359?e=1684368000&v=beta&t=RpQnyWEWnQ1ZFbuGPApEnbCFQCPrlsKSyoZolIcJ6Eo">
        </div>

        <div class="name-container">


          <div  >
            <h1 style="
            margin: 1em 1em; font-weight: 500; font-size: 2.5em;">Lucas Muñoz, fullstack developer</h1>
          </div>
        </div>
        

    </div>

    <a id="downloadResumeLink" href="{{this.content.downloadResumeSource}}" download><mat-icon>file_download</mat-icon>{{this.content.downloadResumeText}}</a>


    <div style="padding: 0 1em; margin-top: 2em;">

        <mat-accordion id="mat-accordion"  multi>
            <mat-expansion-panel id="mat-expansion-panel" [expanded]="isLayoutInfo()" [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">

                    <mat-icon>
                      info
                    </mat-icon>

                    {{this.content.aboutMePanelTitle}}
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                {{this.content.aboutMeSection}}
            </mat-expansion-panel>



            <mat-expansion-panel id="mat-expansion-panel" [expanded]="isLayoutInfo()"   [ngClass]="{'light' : getTheme() == 'light'}">


                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">

                        
                  <mat-icon>
                    person
                  </mat-icon>
                    {{this.content.personalInfoTitle}}
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                <ul>
                  
                  <li>🎂 Age : {{getAge()}}</li>
                  <li *ngFor="let item of content.personalInformationSection">{{item}}</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel id="mat-expansion-panel" [expanded]="isLayoutInfo()"   [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">
                    <mat-icon>
                      school
                    </mat-icon>
                    {{this.content.academicFormationTitle}}
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                <ul>
                  <li>📜<a style="color: #d6924c;" target="_blank" href="https://registrograduados.siu.edu.ar/consulta.php?ah=st630ff93c3aa1f6.05931950&ai=registro_dngu%7C%7C92000001&tcm=popup&cGFyYW1ldHJv=eyJpZF90cmFtaXRlIjoiNDI5MDA0Iiwic2lzdGVtYSI6InNpZGNlciIsImlkX3RpcG9fZG9jdW1lbnRvIjoiRE5JIiwiZG9jdW1lbnRvIjoiMzk5NDAxODgiLCJ0aXBvX3lfZG9jdW1lbnRvIjoiRG9jdW1lbnRvIE5hY2lvbmFsIGRlIElkZW50aWRhZCAzOTk0MDE4OCIsImZlY2hhX2VncmVzbyI6IjIwMTktMDctMTEiLCJub21icmVfYXBlbGxpZG8iOiJNVVx1MDBkMU9aLCBMVUNBUyBOQUhVRUwiLCJhcGVsbGlkbyI6Ik1VXHUwMGQxT1oiLCJub21icmUiOiJMVUNBUyBOQUhVRUwiLCJuYWNpb25hbGlkYWQiOiJBUkdFTlRJTkEiLCJpbnN0aXR1Y2lvbiI6IlVuaXZlcnNpZGFkIFRlY25vbFx1MDBmM2dpY2EgTmFjaW9uYWwiLCJ0aXR1bG8iOiJUXHUwMGU5Y25pY28gVW5pdmVyc2l0YXJpbyBlbiBQcm9ncmFtYWNpXHUwMGYzbiIsImJsb2NrY2hhaW4iOiJibG9ja2NoYWluX2xvZ29fbmVncm8ucG5nIn0%3D&tm=1">{{content.academicFormation}}</a></li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel id="mat-expansion-panel" [expanded]="isLayoutInfo()"   [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">
                    <mat-icon>
                      handyman  
                    </mat-icon>

                    {{content.technicalSkillsTitle}}
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>


                <div class="technical-skills-container" [ngClass]="{'focused-technical-skills' :  isLayoutInfo()}">

                 

                  <div class="skill-container" [ngStyle]="{'flex-direction' : isLayoutInfo() ? 'column' : 'row'}">
                    <div class="skill-icon-container">
                     <mat-icon class="skill-icon">code</mat-icon>
                     <h3>Frontend:</h3>
                    </div>

                    <ul>
                      <li *ngFor="let item of content.technicalSkills.frontend">{{item}}</li>
                    </ul>
                    
                  </div>

                  <div class="skill-container" [ngStyle]="{'flex-direction' : isLayoutInfo() ? 'column' : 'row'}">
                    <div class="skill-icon-container">

                      <mat-icon class="skill-icon">device_hub</mat-icon>
                      <h3>Backend:</h3>
                    </div>
                    <ul>
                      <li *ngFor="let item of content.technicalSkills.backend">{{item}}</li>
                    </ul>

                  </div>

                  <div class="skill-container" [ngStyle]="{'flex-direction' : isLayoutInfo() ? 'column' : 'row'}">
                    <div class="skill-icon-container">
                      
                      <mat-icon class="skill-icon">storage</mat-icon>
                      <h3>Database:</h3>
                    </div>

                    <ul>
                      <li *ngFor="let item of content.technicalSkills.database">{{item}}</li>
                    </ul>

                  </div>

                  <div class="skill-container" [ngStyle]="{'flex-direction' : isLayoutInfo() ? 'column' : 'row'}">
                    <div class="skill-icon-container">
                      
                      <mat-icon class="skill-icon">alt_route</mat-icon>
                      <h3>Versioning:</h3>
                    </div>
                    <ul>
                      <li *ngFor="let item of content.technicalSkills.versioning">{{item}}</li>
                    </ul>

                  </div>

                </div>
    
    
                
            </mat-expansion-panel>


            <mat-expansion-panel id="mat-expansion-panel" [expanded]="isLayoutInfo()"   [ngClass]="{'light' : getTheme() == 'light'}"  >
                <mat-expansion-panel-header>
                  <mat-panel-title [ngClass]="{'light' : getTheme() == 'light'}">
                    <mat-icon>
                      diversity_3
                    </mat-icon>

                    {{content.personalSkillsTitle}}
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
               <ul>
                <li *ngFor="let item of content.personalSkills">
                  {{item}}
                </li>
               </ul>
            </mat-expansion-panel>


            


        </mat-accordion>


        <div id="contact-info" [ngStyle]="{'border-color' : getTheme() == 'light' ? 'rgb(211 211 211)' : 'rgb(51 51 51)'}">

            <div style="width: 100%; margin-bottom: 1em;">{{this.content.contactLinksTitle}}</div>

            <div style="display: flex; flex-direction: row;">

                <a id="contact-link" href="https://github.com/LucasNahuel" target=”_blank”>
                  <img src="../../assets/images/icons8-github.svg" style=" width: 100%;" [ngClass]="{'dark' : getTheme() == 'dark'}">
              </a>

              <a style="margin: 0 1em;" id="contact-link" href="https://wa.me/5493625253073" target=”_blank”>
                  <img src="../../assets/images/icons8-whatsapp-96.svg" style="filter: invert(69%) sepia(16%) saturate(1882%) hue-rotate(89deg) brightness(93%) contrast(94%);  width: 100%;">
              </a>

              <a id="contact-link" href="https://www.linkedin.com/in/luki/" target=”_blank”>
                  <img src="../../assets/images/icons8-linkedin.svg" style="filter: invert(30%) sepia(93%) saturate(1206%) hue-rotate(173deg) brightness(95%) contrast(101%);  width: 100%;">
              </a>
            </div>

            

        </div>

    </div>
    

</mat-card>