<mat-card id="about-me-card" style="display: flex; flex-direction: column;" [ngClass]="{ 'light' : getTheme() == 'light' }">

    <div id="about-me-header" style="display: flex; flex-direction: column; width: 100%;">

        <img src="../../assets/images/miniature-juanjo-jaramillo-mZnx9429i94-unsplash.jpg" style="height: 100px; width: 100%;object-fit: cover; border-top-left-radius: 4px; border-top-right-radius: 4px" [ngClass]="{'dark' : getTheme() == 'light'}" width="627" height="418">

        <div matRipple id="profile-pic-container">
          <img id="profile-pic" src="../../assets/images/profile_pic.jpg">
        </div>

        <div style="margin-left: 1em; max-width: 100%;">


          <div style="margin-left: 150px;
          text-align: center;
          max-width: 100%;" >
            <h1 style="
            margin: 1em 1em">Lucas Muñoz developer</h1>
          </div>
        </div>
        

    </div>


    <div style="padding: 0 1em;">

        <mat-accordion id="mat-accordion" multi>
            <mat-expansion-panel id="mat-expansion-panel" [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">
                    About Me
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                esta es la informacion sobre mi
            </mat-expansion-panel>



            <mat-expansion-panel id="mat-expansion-panel"  [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">
                    Personal Information
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                datos sobre mi
            </mat-expansion-panel>

            <mat-expansion-panel id="mat-expansion-panel"  [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">
                    Academic Formation
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                datos acerca de mi formacion academica
            </mat-expansion-panel>

            <mat-expansion-panel id="mat-expansion-panel"  [ngClass]="{'light' : getTheme() == 'light'}">
                <mat-expansion-panel-header>
                  <mat-panel-title  [ngClass]="{'light' : getTheme() == 'light'}">
                    Technical Skills
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                qué se hacer en el ambito tecnico
            </mat-expansion-panel>


            <mat-expansion-panel id="mat-expansion-panel"  [ngClass]="{'light' : getTheme() == 'light'}"  >
                <mat-expansion-panel-header>
                  <mat-panel-title [ngClass]="{'light' : getTheme() == 'light'}">
                    Personal Skills
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
    
    
                qué se hacer en el ambito tecnico
            </mat-expansion-panel>


            


        </mat-accordion>


        <div id="contact-info">

            <a id="contact-link" href="https://github.com/LucasNahuel" target=”_blank”>
                <img src="../../assets/images/icons8-github.svg" style=" width: 100%;" [ngClass]="{'dark' : getTheme() == 'dark'}">
            </a>

            <a style="margin: 0 1em;" id="contact-link" href="https://wa.me/5493625253073" target=”_blank”>
                <img src="../../assets/images/icons8-whatsapp-96.svg" style="filter: invert(69%) sepia(16%) saturate(1882%) hue-rotate(89deg) brightness(93%) contrast(94%);  width: 100%;">
            </a>

            <a id="contact-link" href="https://www.linkedin.com/in/luki/" target=”_blank”>
                <img src="../../assets/images/icons8-linkedin.svg" style="filter: invert(30%) sepia(93%) saturate(1206%) hue-rotate(173deg) brightness(95%) contrast(101%);  width: 100%;">
            </a>

        </div>

    </div>
    

</mat-card>